<!DOCTYPE html>
<html xmlms:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/style.css}">

<head>
<meta charset="UTF-8">
<title>Agregar</title>
</head>
<body>
<div class=Global>
<div class="tarjeta">
	<form method="post" th:action="@{/guardarLibro}" th:object="${libro}">
	<div class="formulario-contenido">
		<h1>Guardar Libro</h1>
		<h3>Titulo: <input type="text" id="s_titulo" th:field="*{s_titulo}" ></h3>
					<span th:errors="${libro.s_titulo}" style="color:red;"></span><br>
		<h3>Autor: <input type="text" id="s_autor" th:field="*{s_autor}" ></h3>
					<span th:errors="${libro.s_autor}" style="color:red;"></span><br>
		<h3>ISBN : <input type="text" id="s_isbn" th:field="*{s_isbn}" ></h3>
					<span th:errors="${libro.s_isbn}" style="color:red;"></span><br>
		<h3>Categoria: </h3>
		<div class="box" >
		<select th:field="*{c_categoria}">
			<option th:each="c: ${categorias}" th:value="${c.c_categoria}"><th th:text="${c.s_categoria}"></th></option>
		</select>
		</div>
		<div class="boton-area">
		
							<input type="checkbox" th:field="*{b_estado}" name="b_estado">
		
		</div>
		<br>
		<input type="submit" value="Guardar">
		<input type="button" value="Regresar" onclick="location.href='./index'" />
	</div>
		
	</form>

	
</div>
</div>
</body>
</html>